<% include ./elem/header.ejs %>
<h1>Accueil Mother fucker</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>



  <!-- <input type="text" id="pre" name="pre" value="" placeholder="Prenom" onkeyup="action();">
  <input type="text" id="nom" name="nom" value="" placeholder="Nom" onkeyup="action();">

  <button type="submit" onclick="submi();" name="button" value="">Dire bonjour</button> -->



<script type="text/javascript">
function action()
{
  var pre = document.getElementById("pre").value;
  var nom = document.getElementById("nom").value;
  var action = "bonjour/";
  action .= pre;
  action .= "/";
  action .= nom;
  getElementById("form").action= action;

}
function submi() {
  var pre = document.getElementById("pre").value;
  var nom = document.getElementById("nom").value;
  var action = "bonjour/";
  action .= pre;
  action .= "/";
  action .= nom;
  window.open("localhost:8181/sortie");
}

function submit(form) {

  return true;
  form.action = "bonjour/lol/lol";
}

</script>
<% include ./elem/footer.ejs %>
