    <footer class="page-footer grey darken-4" style="margin-top: 0px;">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Imperatrice</h5>
            <p class="grey-text text-lighten-4">Imperatrice permet de visualiser et de télécharger des films via torrent</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Api utilisées</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://yts.ag/api">API du site Yts</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Une API custom pour les genres</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/oussama1598/yify-subs">Yify-subs pour les sous-titres</a></li>
              <li><a class="grey-text text-lighten-3" href="http://lipis.github.io/flag-icon-css/">Flag-icon pour les drapeaux de pays</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2016 Copyright Imperatrice
        <span class="right" href="#!">Made in Grenoble</span>
        </div>
      </div>
    </footer>
  </body>
</html>
