<!Doctype html>
<html>
  <head>
    <title>APIs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js" charset="utf-8"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/mdb.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <% include ./nav.ejs %>
