<!Doctype html>
<html>
  <head>
    <title>APIs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/Materialize/bin/materialize.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <script src="jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="Materialize/bin/materialize.js" charset="utf-8"></script>
    <script src="Materialize/bin/materialize.js" charset="utf-8"></script>
    <script src="Materialize/js/cards.js" charset="utf-8"></script>


  </head>
  <body>
