<!Doctype html>
<html>
  <head>
    <title>APIs</title>
    <link rel="stylesheet" href="/bootstrap-3.3.6-dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/main.css" media="screen" title="no title" charset="utf-8">
    <script src="/bootstrap-3.3.6-dist/js/bootstrap.min.js" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" >
      <div class="container" >
        <div class="navbar-header">
          <a class="navbar-brand" href="/" >Accueil</a >
          <a class="navbar-brand" href="/bonjour/Remy/Dumas" >Bonjour</a >
          <a class="navbar-brand" href="/servicesweb/overpass" >servicesweb</a >
          <a class="navbar-brand" href="/APIs" >APIs</a >
          <a class="navbar-brand" href="/compte/creation" >Création de compte</a >
          <a class="navbar-brand" href="/sortie" >Sortie</a >
        </div >
      </div >
    </nav >
