<!-- Navigation -->
<ul id="dropdownGenre" class="dropdown-content">
  <%for (var i=0 ; i < api2.genre.length ; i++) {
      if(api2.genre[i] != "Reality-TV") {
        var genre = api2.genre[i]; %>
        <li> <a href="?genre=<%= api2.genre[i] %>"><%= api2.genre[i] %> </a> </li>
    <% }
    } %>
</ul>

<ul id="dropdownSort" class="dropdown-content">
  <li><a href="?sort_by=like_count">Like</a></li>
  <li><a href="?sort_by=year">Recent</a></li>
  <li><a href="?sort_by=rating">Rate</a></li>
</ul>
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper grey darken-4">
      <a src="#" class="brand-logo center hide-on-med-and-down">Imperatrice</a>
      <ul class="right">
        <li><a class="dropdown-button" href="#!" data-activates="dropdownGenre">Genres<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class="hide-on-med-and-up"><a class="dropdown-button" href="#!" data-activates="dropdownSort">Sort<i class="material-icons right">arrow_drop_down</i></a></li>
        <li class="hide-on-small-only"><a href="?sort_by=like_count">Like</a></li>
        <li class="hide-on-small-only"><a href="?sort_by=year">Recent</a></li>
        <li class="hide-on-small-only"><a href="?sort_by=rating">Rate</a></li>
      </ul>
    </div>
  </nav>
</div>
